.post-date{
    background:#f4f4f4;
    padding:4px;
    margin:3px 0;
    display:block;
    
}
.date-nopadding{
    padding-left:0;
}
@media screen and (max-width: 991px) {
    p{
        margin-left:15px;
    }
    .post-date{
        margin:3px 15px;
    }
}

.post-thumb{
    width:100%;
}

.pagination-links{
    margin:30px 0;
}

.pagination-links strong{
    padding: 8px 13px;
    margin:5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}

a.pagination-link{
    padding: 8px 13px;
    margin:5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}

.cat-delete{
    display:inline;
}

.error{
    color:red;
}
.com-delete{
	color: red;
	margin-left: 5%;
	cursor: pointer; 
}
.well{
	border: 1px dotted black;
}
.reply{
	margin-left:50px;
	word-wrap: break-word;
	margin-top: 10px;
	
}